:root {
    --color-retro-yellow: #F6EB14;
    --color-dark-theme-bgd: #2b2b2b;
}

@font-face {
    font-family: "PC senior";
    src: url(pcsenior.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-dark-theme-bgd);
    color: var(--color-retro-yellow);
    font-family: "PC senior";
}

header>h1 {
    font-size: 50px;
    padding: 40px 0;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.player-turn {
    padding-bottom: 35px;
    color: white;
    font-size: 25px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell {
    background-color: var(--color-dark-theme-bgd);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    border: 2px dashed white;
}

.btn-start {
    font-family: "PC senior";
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-theme-bgd);
    color: white;
    border: 2px dashed var(--color-retro-yellow);
    padding: 20px 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}