:root {
    --color-retro-yellow: #F6EB14;
    --color-dark-theme-bgd: #2b2b2b;
}

@font-face {
    font-family: "PC senior";
    src: url(pcsenior.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-dark-theme-bgd);
    color: var(--color-retro-yellow);
    font-family: "PC senior";
}

header>h1 {
    font-size: 50px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.player-turn {
    padding-bottom: 20px;
    color: white;
    font-size: 25px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell {
    background-color: var(--color-dark-theme-bgd);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    border: 2px dashed white;
}

.btn-start {
    font-family: "PC senior";
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-theme-bgd);
    color: white;
    border: 2px dashed var(--color-retro-yellow);
    padding: 20px 40px;
    /* temporary to edit the player input form */
    visibility: hidden;
}

.btn-reset {
    font-family: "PC senior";
    background-color: var(--color-dark-theme-bgd);
    color: white;
    border: 2px dashed var(--color-retro-yellow);
    padding: 10px 20px;
    margin-bottom: 15px;
}

.winner-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 25vh;
    background-color: white;
    border: 2px dashed var(--color-dark-theme-bgd);
    padding: 20px 40px;
    display: none;
}

.winner-msg {
    font-family: "PC senior";
    font-size: 50px;
    text-align: center;
    color: var(--color-dark-theme-bgd);
}

form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    height: 25vh;
    background-color: var(--color-dark-theme-bgd);
    border: 2px dashed white;
    padding: 20px 40px;
}

.form-title {
    font-size: 25px;
    text-align: center;
}

.form-fields {
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
}

input {
    margin-top: 5px;
    width: 150px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.btn-submit-form {
    align-self: center;
    font-family: "PC senior";
    background-color: var(--color-dark-theme-bgd);
    color: white;
    border: 2px dashed var(--color-retro-yellow);
    padding: 10px 20px;
    margin-bottom: 15px;
}


.play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
}

.btn-play-again {
    font-family: "PC senior";
    background-color: var(--color-retro-yellow);
    color: var(--color-dark-theme-bgd);
    border: 2px dashed var(--color-dark-theme-bgd);
    padding: 10px 20px;
    margin-bottom: 15px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}